{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>ABOUT US</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>The Online Bakery system is a web application that allows various customers to
order food online and get it delivered. This software is platform-independent and
flexibly runs on all operating systems and mobile devices. In addition to this, the
Bakery ordering system also allows the users to order meals from other local
Bakeries and the same will be delivered based on the user’s delivery request.</p>
            <p>Bakery owners can provide their bakery information using the web portal. This
information will act as the basis for the search results displayed to the user. A receipt
is generated which acts as a token for identifying the customer who placed the order
through the Online Bakery system.</p>
        </div>
    </div>
</div>
{% endblock content %}
